
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/f/billboard.min.js"></script>
<link rel="stylesheet" href="/f/billboard.min.css">


<h1>Recovery by Country</h1>

<p>This section is a little out of date (2 May)...updates coming soon!</p>

<nav> 
    <a href="/covid19/recovery/FRA">France</a> |
    <a href="/covid19/recovery/DEU">Germany</a> |
    <a href="/covid19/recovery/GBR">UK</a> |
    <a href="/covid19/recovery/NLD">Netherlands</a> |
    <a href="/covid19/recovery/BEL">Belgium</a>
</nav>
