---
layout: default
---

{% include covid-menu.html %}

{% include covid-recovery-menu.html %}


<h2>Belgium</h2>
<a href="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_Belgium">Wikipedia</a>

<p>Last updated 2 May 2020</p>

<div class="timeline">
    2020-02-04 First case detected
    2020-03-10 Govt advise against indoor events with more than 1000 people.
    2020-03-11 First death on Belgian territory
    2020-03-13 (annc 12/3) Govt orders closure of schools, discos, cafes and restaurants.
    2020-03-18 (annc 17/3) Non-essential travel prohibited. Non-essential shops to close. Gatherings banned.
    2020-03-20 Borders closed to non-essential travel.
    2020-05-03 (annc 27/3; 15/4) Measures extended to this date.
    2020-05-04 (<a href="https://www.bbc.co.uk/news/world-europe-52421723">annc 25/4</a>) Fabric shops to reopen; industry to resume. All (12+) to wear masks on public transport.
    2020-05-11 (<a href="https://www.bbc.co.uk/news/world-europe-52421723">annc 25/4</a>) All shops to reopen.
    2020-05-18 (<a href="https://www.bbc.co.uk/news/world-europe-52421723">annc 25/4</a>) Schools to reopen with limited classes.
    2020-06-08 (<a href="https://www.bbc.co.uk/news/world-europe-52421723">annc 25/4</a>) Cafés and restaurants permitted to reopen.
</div>
