---
layout: default
title: Covid-19 Response in Germany
---

{% include covid-menu.html %}

{% include covid-recovery-menu.html %}


<h2>Germany</h2>
<a href="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_Germany">Wikipedia</a>,
<a href="https://hystreet.com/locations">Footfall data</a>,
<a
    href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Situationsberichte/2020-04-25-en.pdf?__blob=publicationFile">Situation
    Report 25/04</a>,
<a href="https://experience.arcgis.com/experience/478220a4c454480e823b17327b2bf1d4">Covid-19 Dashboard (RKI)</a>

<p>Last updated 2 May 2020</p>

<div class="timeline">
    2020-01-27 First case confirmed
    2020-03-09 First death
    2020-03-13 Protection stage - School & kindergarten closures.
    2020-03-15 Borders to five neighbouring countries closed.
    2020-03-22 National curfew; commute to work, sports and shopping only. Not more than two people.
    2020-03-31 Jena first larger city to oblige wearing of masks.
    2020-04-07 Launch of Corona-Datenspende (app) for voluntary use to monitor spread of virus. 50,000 installed the
    same day.
    2020-04-20 (announced 15/4) Shops with retail space up to 800sq.m to reopen, + bookshops, bike stores and car
    dealerships.
    2020-04-27 <a href="https://www.bbc.co.uk/news/world-europe-52382196">Face masks become compulsory</a> on public transport (rollout date by state varies)
    2020-04-27 RKI daily report estimates <em>R Value</em> <a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Situationsberichte/2020-04-27-en.pdf?__blob=publicationFile">at 1.0</a>
    2020-05-03 (<a href="https://www.bundesregierung.de/breg-en/issues/fahrplan-corona-pandemie-1744276">annc 15/4</a>)
    Restrictions on movements remain in place until at least this date.
    2020-05-04 (<a href="https://www.bundesregierung.de/breg-en/issues/fahrplan-corona-pandemie-1744276">annc 15/4</a>)
    Schools to re-open gradually. Hair salons to open (under strict rules).
    2020-08-31 (<a href="https://www.bundesregierung.de/breg-en/issues/fahrplan-corona-pandemie-1744276">annc 15/4</a>)
    No large cultural events before this date.
</div>

