---
layout: default
---

{% include covid-menu.html %}

{% include covid-recovery-menu.html %}

<h2>France</h2>
<a href="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_France">Wikipedia</a>,
<a href="https://www.arcgis.com/apps/opsdashboard/index.html#/5e09dff7cb434fb194e22261689e2887">Hub</a>,
<a href="https://www.gouvernement.fr/info-coronavirus/carte-et-donnees">Gouv.fr data</a>


<div class="timeline">
    2020-03-12 Announcement that schools would close from 16/3
    2020-03-13 Closure of all non-essential public places (restaurants, cinemas, etc).
    2020-03-16 Mandatory home confinement for 15 days starting noon 17/3
    2020-03-27 Extension of home confinement until 15/4.
    2020-04-08 Further extension
    2020-04-13 Lockdown to be continued until 11 May.
</div>
