---
layout: default
title: Covid-19 Response in the United Kingdom
---

{% include covid-menu.html %}

{% include covid-recovery-menu.html %}

<h2>United Kingdom</h2>
<a href="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_the_United_Kingdom">Wikipedia</a>,
<a href="https://coronavirus.data.gov.uk/">Data.gov.uk</a>,
<a href="https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/conditionsanddiseases">ONS</a>

<p>Last updated 2 May 2020</p>

<div class="timeline">
    2020-02-28 First transmission recorded
    2020-03-15 Advice to avoid non-essential travel, Self-isolation for those with symptoms and high-risk conditions.
    2020-03-20 All schools, restaurants, pubs and leisure centres closed
    2020-03-23 Lockdown implemented for all except essential travel
</div>
