---
layout: default
---

{% include covid-menu.html %}

{% include covid-recovery-menu.html %}

<h2>Netherlands</h2>
<a href="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_the_Netherlands">Wikipedia</a>,
<a href="https://www.arcgis.com/apps/opsdashboard/index.html#/cfc2084c995c40e7ae72254029bf6251">Hub</a>

<div class="timeline">
    2020-02-27 First case detected
    2020-03-06 First death reported.
    2020-03-09 Citizens asked to stop shaking hands. Citizens in Noord-Brabant to work from home where possible.
    2020-03-10 In Noord-Brabant, larger events cancelled.
    2020-03-12 All meetings 100+ people cancelled. Work encouraged from home.
    2020-03-15 Schools closed. Cafes, restaurants, sports clubs, saunas, sex clubs and coffeeshops to close.
    2020-03-17 Schools to stay open only for final year students' exams.
    2020-03-23 Stricter social distancing announced.
    2020-03-24 Final exams cancelled.
    2020-04-28 (annc 31/3) All measures extended.
</div>