@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Link Styling */
a {
	color: #1e6bb8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Main Content Styling */
.main-content {
	word-wrap: break-word;
	padding: 2em;
	max-width: 75rem;
	margin: 0 auto;
	font-size: 1.1rem;
	color: #606c71;
}

/* Image Styling */
img {
	max-width: 100%;
	height: auto;
}

/* Header ID Styling */
#svenlatham {
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 80%;
}
